#output
{
 background: pink;
 border-radius: 10px;
 border-top: 10px solid #68e714;
 padding: 10px;
 float: none;
 text-align: left;
}
#number1, #number2
{
	width: 60%;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
body
{
	background: cornflowerblue;
}